@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
/* Police, etc */
body {
  font-family: "Raleway", "Sans serif";
  margin-left: 3%;
  margin-right: 3%;
}
form, input, button {
  font-family: "Raleway", "Sans serif";
  font-weight: bold;
}
/* Header et nav */ 
img.headerLogo {
  height: 50px;
  margin-top: -15px;
}
.headersite {
  display: flex;
  justify-content: space-between;
  padding-top: 1.7em;
  font-weight: bold;
}
.navlien, .navlien:hover {
  padding: 2em;
  text-decoration: none;
}
.navlien:hover {
  border-top: solid 3px #0065FC;
  color: #0065FC
}
/* Bloc recherche */
h1 {
  font-size: 30px;
}
h5 {
  font-size: 24px;
}
section.affinage {
  padding-top: 1.7em;
}
.recherche {
  display: flex;
  height: 50px;
}
.zonetexte {
  width: 300px;
  padding: 1em;
  border: 1px solid RGBa(0, 0, 0, 0.05);
  font-weight: bolder;
  font-size: 18px;
}
.boutonrecherche {
  width: 125px;
  border: 1px solid RGBa(0, 0, 0, 0.05);
  border-radius: 0px 15px 15px 0px;
  background-color: #0065FC;
  color: white;
  font-size: 18px;
}
.menufiltres {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 25px;
}
.menufiltres p {
  font-weight: bold;
  margin-right: 25px;
}
.recherche i {
  border-radius: 15px 0px 0px 15px;
  width: 25px;
  padding-top: 16px;
  padding-left: 15px;
  background-color: #f2f2f2;
}
.boutonfiltre {
  background-color: transparent;
  border: 2px solid RGBa(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  border-left: none;
  margin-right: 25px;
  border-radius: 25px;
  height: 50px;
  font-size: 16px;
  padding-left: 0;
  padding-top: 0;
}
.boutonfiltre i {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #DEEBFF;
  float: left;
  color: #0065FC;
  background-color: #DEEBFF;
  border-radius: 100%;
  height: 48px;
  width: 48px;
}
.motfiltre {
  margin-left: 25px;
  margin-right: 25px;
  word-wrap: normal;
}
.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 42px 0;
}
.iconeinfo {
    color: #0065FC;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #f2f2f2;
    border-radius: 30px;
    padding: 8px;
    width: 16px;
    height: 16px;
    margin-right: 11px;
}
/* Blocs hebergements */
.blocshotel {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.hebergements {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 65%;
}
.populaires {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.hebergements, .populaires {
  background-color: #f2f2f2;
  border-radius: 25px;
}
.hebergements header {
  margin-top: 25px;
  margin-left: 40px;
}
.hebergements footer {
  margin-bottom: 25px;
  margin-left: 40px;
}
.logementsmain {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  height: 100%;
}
.logementsmain figure {
  background-color: white;
  border: 5px solid white;
  border-radius: 30px;
  box-shadow: 0 0 25px #0000002e;
}
.logementsmain img {
    object-fit: cover;
    width: 100%;
    height: 120px;
    border-radius: 30px 30px 0 0;
}
.logementsmain i {
  color: #0065FC;
  font-size: 16px;
}
.logementsmain figcaption {
  text-align: start;
  padding-left: 5%;
  font-size: 14px;
  margin-bottom: 5px;
}
.logementspop {
  display: grid;
  grid-template-rows: 30% 30% 30%;
  font-size: 14px;
  height: 100%;
  padding-top: 5%;
  word-wrap: normal;
}
.populaires header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 25px;
  font-size: 16px;
}
.populaires header i {
  margin-top: 25px;
  font-size: 22px;
}
.logementspop figure {
  display: flex;
  background-color: white;
  border: 5px solid white;
  border-radius: 30px;
  box-shadow: 0 0 25px #0000002e;
}
.logementspop img {
  object-fit: cover;
  width: 40%;
  height: 100%;
  border-radius: 30px 0 0 30px;
}
.logementspop figcaption {
  text-align: start;
  padding-left: 5%;
  font-size: 16px;
  margin-bottom: 5px;
}
.logementspop figcaption i {
  color: #0065FC;
  font-size: 16px;
}
/* Bloc Activités */

section {
  margin-bottom: 3%;
}
.Activites {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2%;
    grid-template-rows: 500px; 
    grid-row-gap: 2%;
    justify-items: stretch;
    align-items: stretch;
}
.act1 {
  grid-area: auto;
  height: 100%;
}
.act1 figure {
  border: 1px solid white;
  border-radius: 30px;
  height: 100%;
  box-shadow: 0 0 25px #0000002e;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
}
.act1 img {
  object-fit: cover;
  width: 100%;
  height: calc(100% - 50px);
  border-radius: 30px 30px 0 0;
}
.act2 {
  grid-area: auto;
  width: 100%;
  height: 100%;
}
.act2 figure {
  border: 1px solid white;
  border-radius: 30px;
  height: 47%;
  box-shadow: 0 0 25px #0000002e;
  font-size: 12px;
}
.act2 img {
  object-fit: cover;
  width: 100%;
  height: calc(100% - 50px);
  border-radius: 30px 30px 0 0;
}
.act4 {
  grid-area: auto;
  height: 100%;
}
.act4 figure {
  border: 1px solid white;
  border-radius: 30px;
  height: 100%;
  box-shadow: 0 0 25px #0000002e;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
}
.act4 img {
  object-fit: cover;
  width: 100%;
  height: calc(100% - 50px);
  border-radius: 30px 30px 0 0;
}
.act5 {
  grid-area: auto;
  width: 100%;
  height: 100%;
}
.act5 figure {
  border: 1px solid white;
  border-radius: 30px;
  height: 47%;
  box-shadow: 0 0 25px #0000002e;
  font-size: 12px;
}
.act5 img {
  object-fit: cover;
  width: 100%;
  height: calc(100% - 50px);
  border-radius: 30px 30px 0 0;
}
/* Footer */
footer {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-around;
}
footer ul {
  list-style-type: none;
}
footer li {
  font-size: 22px;
  
}
footer p {
  margin-left: 40px;
  font-weight: bold;
  font-size: 22px;
}
@media all and (max-width: 600px) {
  body {
    margin-left: 0;
    margin-right: 0;
  }
  .headersite {
    flex-direction: column;
  }
  .headersite nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .navlien {
    overflow: auto;
  }
  .navlien:hover {
    border-top: 0;
    border-bottom: solid 3px #0065FC;
    color: #0065FC;
  }
  #signup {
    position: absolute;
    right: 1%;
    top: 5px;
    color: #0065FC;
  }
  img.headerLogo {
    width: 20%;
    margin-left: 5%;
  }
  .affinage {
    margin-left: 5%;
  }
  section.affinage {
    padding-top: 0;
  }
  h1 {
    width: 66%;
    font-size: 24px;
  }
  h5 {
    font-size: 24px;
    margin-left: 6%;
  }

  .recherche {
    width: 100%;
    margin-left: 5%;
  }
  .blocshotel {
    flex-direction: column-reverse;
    width: 100%;
  }
  .menufiltres {
    flex-wrap: wrap;
  }
  .info {
    width: 80%;
    font-size: 18px;
  }
  .logementsmain {
    display: flex;
    flex-direction: column;
  }
  .logementsmain figcaption {
    margin-bottom: 0;
  }
  .logementsmain footer {
    text-align: left;
  }
  .populaires {
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 0;
  }
  .populaires header {
    justify-content: space-between;
    margin-left: 6%;
  }
  .logementspop {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }
  .logementspop figure {
    height: 150px;
    border-radius: 20px;
  }
  .logementspop img {
    border-radius: 20px 0 0 20px;
  }
  .populaires .icon {
    margin-right: 13%;
  }
  .hebergements {
    width: 100%;
    background-color: white;
  }
  .hebergements header {
    margin-right: 5%;
  }
  .hebergements footer {
    background-color: white;
    margin-bottom: 0;
    margin-left: 6%;
  }
  .Activites {
    display: flex;
    flex-direction: column;
  }
  .Activites figure {
    height: 200px;
    font-weight: bolder;
  }
  .Activites figcaption {
    margin-left: 5%;
  }
  footer {
    flex-direction: column;
  }
}
@media all and (min-width: 601px) and (max-width: 1024px) {
  body {
    margin-left: 1%;
    margin-right: 1%;
  }
  .headersite {
    justify-content: space-between;
  }
  .recherche {
    justify-content: center;
  }
  .menufiltres {
    flex-wrap: wrap;
  }
  .blocshotel {
    flex-direction: column-reverse;
    margin-left: 1%;
    margin-right: 1%;
  }
  .populaires {
    flex-direction: column;
    width: 100%;
  }
  .populaires header {
    justify-content: space-between;
    margin-left: 4%;
  }
  .populaires .icon {
    margin-right: 8%;
  }
  .logementspop {
    display: flex;
    flex-direction: row;
    padding-top: 2%;
  }
  .logementspop figure {
    flex-direction: column;
  }
  .logementspop img {
    width: 100%;
    height: 40%;
    border-radius: 30px 30px 0 0;
  }
  .hebergements {
    width: 100%;
  }
  .hebergements footer {
    font-size: 18px;
  }
  h5 {
    margin-left: 4%;
  }
  .Activites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .act1 {
    width: 32%;
    padding-bottom: 5%;
  }
  .act2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 64%;
    height: 208px;
    margin-top: 0;
  }
  .act2 figure {
    width: 45%;
    height: 100%;
    margin: 0;
  }
  .act4 {
    width: 32%;
  }
  .act5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 64%;
    height: 208px;
    margin-top: 0;
  }
  .act5 figure {
    width: 45%;
    height: 100%;
    margin: 0;
  }
  footer {
    margin-left: 0;
    margin-right: 0;
  }
}